@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'KoddiUDOnGothic';
  src: url('./assets/KoddiUDOnGothic-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'KoddiUDOnGothic';
  src: url('./assets/KoddiUDOnGothic-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'HakgyoansimAllimjangTTF-B';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-5@1.0/HakgyoansimAllimjangTTF-B.woff2')
    format('woff2');
  font-weight: 700;
  font-style: normal;
}

@layer components {
  .content {
    @apply max-w-[1500px] mx-auto pt-[60px] px-6;
  }
  .title {
    @apply text-4xl font-bold pb-3 border-b-2 border-black;
  }
  .sub-title {
    @apply text-2xl font-bold;
  }
  .label-primary {
    @apply text-gray-600 text-sm mb-2;
  }
  .input-primary {
    @apply border-b border-[#61443A] text-[#61443A] bg-[#F4EFEB] focus:outline-none w-full py-2 px-3 mb-4;
  }
}
